body {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

header {
  display: block;
  background-image: url("https://cdn.mos.cms.futurecdn.net/gxWm3asdF6AAe2rR9ziao8-1200-80.jpg");
  background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
}

header h1 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  color: white;
  -webkit-text-stroke: 1px black;
}

h5 {
  color: white;
  text-align: center;
  -webkit-text-stroke: 0.5px black;
}

h3 {
  color: black;
  text-align: center;
  font-size: 14px;
}

div .SeeExercises {
  display: block;
  margin: 0 auto;
  background: white; 
  text-align: center;
  width: 35%;
  border-radius: 5px;
  color: black;
}

.exercise-link {
  color: black;
}

a {
text-decoration: none;
}

div .inner-container {
  background: white;
  color: black;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  opacity: 1 !important;
}

.content-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content-section img {
  width: 75%;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 12px;
  color: black;
  --s: 31px; 
  --c1: #b2b2b2;
  --c2: #ffffff;
  --c3: #d9d9d9;
  --_g: var(--c3) 0 120deg,#0000 0;
  background:
    conic-gradient(from -60deg at 50% calc(100%/3),var(--_g)),
    conic-gradient(from 120deg at 50% calc(200%/3),var(--_g)),
    conic-gradient(from  60deg at calc(200%/3),var(--c3) 60deg,var(--c2) 0 120deg,#0000 0),
    conic-gradient(from 180deg at calc(100%/3),var(--c1) 60deg,var(--_g)),
    linear-gradient(90deg,var(--c1)   calc(100%/6),var(--c2) 0 50%,
                          var(--c1) 0 calc(500%/6),var(--c2) 0);
  background-size: calc(1.732*var(--s)) var(--s);
}

footer a {
  color: black;
  text-decoration: none;
}

footer div {
  height: 90%;
  padding-top: 0;
}


@media (max-width: 900px){
  header {
    display: block;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }

  .container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
}